<div class="g-full-size">
    <h1>Levels</h1>
    <table class="table table-striped border">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Riddle</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="level in levels">
                <td><a href="#!/admin/levels/edit/{{ level.id }}">{{ level.id }}</a></td>
                <td>{{ level.attributes.name }}</td>
                <td>{{ level.attributes.riddle }}</td>
            </tr>
        </tbody>
    </table>
</div>