.g-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;

    .g-message-icon,
    .g-message-text {
        flex: 1;
    }

    .g-message-icon {
        max-width: 96px;
        max-height: 96px;
        margin: 0 1rem 0rem 0;
        padding: 0;
        background-color: white;
    }

    .g-message-icon-img {
        width: auto;
        max-width: 100%;
    }

    .g-message-text {
        max-width: 480px;
        text-align: left;

        p:last-child {
            margin-bottom: 0;
        }
    }
}
