.g-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;

    .g-message-icon,
    .g-message-text {
        flex: 1;
        display: block;
    }

    .g-message-icon {
        max-width: 128px;
        height: 128px;
        margin: 0 1rem 0rem 0;
        image-rendering: pixelated;
    }

    .g-message-text {
        margin-bottom: 4rem;
        max-width: 480px;
        text-align: left;

        p:last-child {
            margin-bottom: 0;
        }
    }
}
