// Layout
.g-form-container {
    max-width: 720px;
    background-color: white;
    box-shadow: 6px 6px 4px rgba(0,0,0,0.35);

    form {
        margin-top: 1.5rem !important;
    }

    .nes-input[type="text"] {
        text-align: center;
    }
}

// Buttons
.nes-btn {
    min-width: 190px;
    text-transform: uppercase;
}

.g-form-btn {
    margin-top: 1.5rem;
}

.g-menu-buttons {
    .nav-item:not(:first-child) {
        margin-top: 1rem;
    }

    .g-menu-button {
        min-width: 320px;
    }
}
