#game {
    overflow: hidden;
}

.g-game-container,
.g-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.g-game-container {
    min-height: 100vh;
    max-height: 1000vh;
    background-color: #3f3851;
}

.g-view-container {
    min-width: 100%;
    min-height: 100%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.td-pad {
    padding-left: 10px;
    padding-right: 10px;
}

#g-game-frame {
    display: flex;
    position: relative;
    min-width: 1400px;
    min-height: 900px;
    max-width: 90vw;
    max-height: 90vh;
    margin: 0;
    border: 10px solid transparent;
    border: 64px solid transparent;
    border-image: url(../images/panel_border.png) 64 round;
    box-sizing: border-box;
}

.g-full-size {
    width: 100%;
    height: 100%;
    margin: 3rem;
}

.g-card {
    max-width: 320px;
}

.g-flex {
    display: flex;
    justify-content: center;
    align-items: center;

    &-col {
        flex-direction: column;
    }
}

.g-menu-container {
    display: inline-block;
}

.page-title {
    margin-bottom: 55px;
}

.nes-container.with-title > .title {
    background: #f2f2f2;
}

.g-level-list {
    > .nes-container {
        margin: 0 15px;
        width: 300px;
        img {
            width: 100%;
        }
    }
}

.g-view-title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;

    h1,
    h4 {
        margin: 0;
    }

    &::after {
        display: block;
        position: relative;
        content: "";
        width: 320px;
        height: 22px;
        margin: 0.5rem auto 0;
        background-image: url("../images/panel_title_footer.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .btn-action {
        &-left,
        &-right {
            position: absolute;
            top: 28px;
            width: 48px;
            min-width: initial;
            height: 48px;
            font-size: 20px;
            text-align: center;
        }

        &-left {
            left: 1rem;
        }

        &-right {
            right: 1rem;
        }
    }
}
