// Home
#g-view-welcome {
    ul {
        padding: 0;
        text-align: center;
        li {
            list-style-type: none;
        }
    }
}

#register {
    button {
        margin-top: 30px;
    }
}

#welcome {
    margin-top: 15px;
    .nes-balloon {
        margin-bottom: 55px;
        margin-left: 25px;
    }
}

// Join Game
#g-view-join-game {
    width: 100%;
    max-width: 680px;
    height: 100%;

    .nes-table td {
        border-width: 0;
    }

    .g-players-icon {
        position: relative;
        top: -3px;
    }

    .g-games-list {
        width: 100%;

        tr:first-child td {
            padding-bottom: 0.75rem;
        }

        tr:not(:first-child) td {
            border-top: 4px solid black;
            padding-top: 0.75rem;
        }

        .g-games-list-actions {
            text-align: right;
        }
    }

    .g-form-container {
        max-height: 550px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        .nes-table-responsive {
            overflow: auto;
            max-height: 345px;
        }
    }
}


// Scoreboard
#g-scoreboard {
    text-transform: uppercase;
    h3 {
        margin-bottom: 30px;
        margin-top: 15px;
    }
    table {
        width: 100%;
        td, th {
            border-color: transparent;
            padding: .5rem .75rem;
        }
        .name {
            width: 120px;
            text-align: left;
        }
    }
}

// Round


#g-view-round {
    width: 100%;
    height: 100%;
    padding-top: 150px;

    #g-round-main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem;
    }

    #g-round-image-container,
    #g-round-sidebar {
        flex: 1;
    }

    #g-round-sidebar {
        min-height: 100px;
        max-width: 360px;
        margin-left: 1rem;
    }

    #g-round-players {
        background-color: white;
    }

    #g-round-players-list {
        padding: 0;
        margin: 0;
        max-height: 320px;
        text-align: left;
        overflow-y: scroll;
        list-style: none;

        li {
            &:not(:first-child) {
                margin-top: 0.75rem;
            }
        }
    }

    #g-round-image-container {
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: white;

        .title {
            margin-left: 1.5rem;
        }
    }

    #g-round-image {
        width: auto;
        max-width: 100%;
        max-height: 540px;
    }

    #g-round-riddle {
        margin: 0 0 2rem;
        background-color: white;
    }

    #g-round-riddle-text {
        max-height: 120px;
        text-align: left;
        overflow-y: scroll;
    }
}