#g-particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;

    img {
        position: absolute;
    }
}

.g-wobble {
    animation: wobble 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: rotate(0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes wobble {
    10%,
    90% {
        transform: rotate(-10deg);
    }

    20%,
    80% {
        transform: rotate(20deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(-20deg);
    }

    40%,
    60% {
        transform: rotate(4deg);
    }
}

.g-grow-shrink {
    animation: grow-shrink 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: scale(0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes grow-shrink {
    10%,
    90% {
        transform: scale(0.9);
    }

    20%,
    80% {
        transform: scale(1.1);
    }

    30%,
    50%,
    70% {
        transform: scale(0.9);
    }

    40%,
    60% {
        transform: scale(1.1);
    }
}
