.text-muted {
    color: #aeaeae;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

#g-game-frame {
    .nes-container.with-title > .title {
        margin-top: -2rem;
    }
}
