$font-family-sans-serif: 'Alegreya' !default;
$font-family-base: $font-family-sans-serif !default;

// $headings-font-family: 'Suez One' !default;
// $headings-font-weight: normal !default;

$btn-font-weight: bold !default;