@import "_form";
@import "_typography";

// Defaults
html,
body {
    min-width: 100vw;
    min-height: 100vh;
    font-size: 18px;
}

// Layout
.g-game-container,
.g-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.g-game-container {
    background-color: #f2f2f2;
}

.g-full-size {
    width: 100%;
    height: 100%;
}

.g-card {
    max-width: 320px;
}

.g-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome {
    margin-top: 15px;
    .nes-balloon {
        margin-bottom: 85px;
        margin-left: 25px;
    }
}