@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Suez+One&display=swap');
@import "_variables";
@import "../node_modules/bootstrap/scss/bootstrap";

// Defaults
html,
body {
    width: 100vw;
    height: 100vh;
    font-size: 18px;
}

// Buttons
.btn {
    text-transform: uppercase;
}

.g-menu-buttons {
    .nav-item:not(:first-child) {
        margin-top: 1rem;
    }

    .g-menu-button {
        min-width: 320px;
    }
}

// Layout
.g-game-container,
.g-view-container {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;

    width: 100vw;
    height: 100vh;
}

.g-game-container {
    background-color: #f2f2f2;
}

.g-full-size {
    width: 100%;
    height: 100%;
}

.g-card {
    max-width: 320px;
}