@import "_form";
@import "_typography";
@import "_media";
@import "_layout";
@import "_directives";
@import "_pages";
@import "_particles";

// Defaults
html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    position: relative;
    background-color: #e8e8e8;
}

#g-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;

    &::before {
        content: '';
        background: url('../images/background_light.png') no-repeat center center / cover;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &::after {
        content: '';
        background: #abbdf3;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: .7;
    }

    #g-team-logo {
        position: absolute;
        bottom: -30px;
        height: 200px;
        left: 15px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d6dffa;
}

.nes-table th::after, .nes-table td::after {
    bottom: 3px;
}

/* Magnify */
.magnify-container {
    margin: auto;
    position: relative;
}

.magnify-container .magnify-glass {
    width: 180px;
    height: 180px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
      0 0 7px 7px rgba(0, 0, 0, 0.25),
      inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
      0 0 7px 7px rgba(0, 0, 0, 0.25),
      inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
      0 0 7px 7px rgba(0, 0, 0, 0.25),
      inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    background-repeat: no-repeat;
    z-index: 999;
    pointer-events: none;
}

.magnify-container .magnify-image {
    width: auto;
    max-height: 540px;
    border-radius: 10px;
}