<div id="g-view-create-game" class="g-view-content">
    <div class="g-view-title text-center">
        <h1>iSPY 2021</h1>
        <h4>Create A Game</h4>
    </div>

    <g-message-box>
        <p>Give your game round a name so others can identify it and join you online.</p>
    </g-message-box>
    <div class="g-form-container nes-container with-title is-rounded">
        <p class="title">Create Game</p>
        <form ng-submit="createGame()">
            <div class="nes-field">
                <input type="text" class="nes-input" id="gameName" aria-describedby="gameNameHelp" autocomplete="off"
                    placeholder="Cool People Game" ng-model="gameName">
            </div>
            <a href="#!/" class="g-form-btn nes-btn">Go Back</a>
            <button type="submit" class="g-form-btn nes-btn is-primary" ng-disabled="isCreatingGame">
                <span ng-show="!isCreatingGame">Create Game</span>
                <span ng-show="isCreatingGame">Creating Game...</span>
            </button>
        </form>
    </div>
</div>