<div id="g-view-welcome" class="g-view-container">
    <div class="g-view-content text-center">
        <h1>iSPY 2021</h1>
        <h3 class="mb-5">COVID-Free Edition</h3>
        <form ng-if="!state.hasPlayer" ng-submit="createPlayer()">
            <div class="form-group">
                <label for="playerName">Enter Your Name</label>
                <input type="text" class="form-control" id="playerName" aria-describedby="playerNameHelp" placeholder="Cool Guy" ng-model="player.attributes.name">
                <small id="playerNameHelp" class="form-text text-muted">Please enter your name so other players can find you in game rounds and lobbies.</small>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="isCreatingPlayer">
                <span ng-show="!isCreatingPlayer">Register</span>
                <span ng-show="isCreatingPlayer">Registering Player...</span>
            </button>
        </form>
        <div class="g-menu-container" ng-if="state.hasPlayer">
            <p>Hello {{ player.attributes.name }}!</p>
            <ul class="g-menu-buttons nav flex-column">
                <li class="nav-item">
                    <a href="#!/create-game" class="g-menu-button btn btn-primary">Create Game</a>
                </li>
                <li class="nav-item">
                    <a href="#!/join-game" class="g-menu-button btn btn-secondary">Join Game</a>
                </li>
                <li class="nav-item">
                    <a href="#!/" class="g-menu-button btn btn-light">Scoreboard</a>
                </li>
            </ul>
        </div>
    </div>
</div>