<div id="g-view-welcome" class="g-view-container">
    <div class="g-view-content text-center">
        <h1>iSPY 2021</h1>
        <h3 class="mb-5">COVID-Free Edition</h3>
        <pre>{{state.player|json}}</pre>
        <form ng-if="!state.player.joined" ng-submit="createPlayer()">
            <div class="form-group">
                <label for="playerName">Enter Your Name</label>
                <input type="text" class="form-control" id="playerName" aria-describedby="playerNameHelp" placeholder="Cool Guy" ng-model="state.player.name">
                <small id="playerNameHelp" class="form-text text-muted">Please enter your name so other players can find you in game rounds and lobbies.</small>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled="isCreatingPlayer">
                <span ng-show="!isCreatingPlayer">Register</span>
                <span ng-show="isCreatingPlayer">Registering Player...</span>
            </button>
        </form>
        <div class="g-menu-container" ng-if="state.hasPlayer">
            <section class="message -left g-flex" id="welcome">
                <i class="nes-bcrikko"></i>
                <div class="nes-balloon from-left">
                    <p>Hello {{ player.attributes.name }}!</p>
                </div>
            </section>            
                
            <section class="g-form-container nes-container with-title is-rounded">
                <ul class="g-menu-buttons nav flex-column">
                    <li class="nav-item">
                        <a href="#!/create-game" class="nes-btn is-primary">Create Game</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!/join-game" class="nes-btn is-warning">Join Game</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!/" class="nes-btn is-secondary">Scoreboard</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>

