<div id="g-view-join-game" class="g-view-content text-center">
    <div class="g-view-title text-center">
        <h1>iSPY 2021</h1>
        <h4>Find A Game</h4>
        <a href="#!/" class="nes-btn btn-action-left" ng-click="leaveGame()">&lt;</a>
    </div>

    <p ng-if="!state.gamesList.length">Loading games...</p>

    <div class="g-form-container nes-container with-title is-centered is-rounded">
        <p class="title mb-0">Active Games</p>
        <table class="g-games-list" ng-if="state.gamesList.length">
            <tbody>
                <tr ng-repeat="game in state.gamesList">
                    <td scope="row" class="g-games-list-index">
                        <div ng-click="joinGame(game)" class="nes-text">#{{ $index + 1}}</div>
                    </td>
                    <td class="g-games-list-name">
                        <span>{{ game.name }}</span>
                    </td>
                    <td class="g-games-list-players">
                        <span>{{ game.players.length }}</span>&nbsp;
                        <i ng-class="{'far fa-user': game.players.length == 0, 'fas fa-user': game.players.length == 1, 'fas fa-user-friends': game.players.length == 2, 'fas fa-users': game.players.length > 2}"
                            class="g-players-icon"></i>
                    </td>
                    <td class="g-games-list-actions">
                        <button class="nes-btn is-primary" ng-click="joinGame(game)">Join</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>