<div id="g-view-round" class="g-view-content text-center">
    <div class="g-view-title">
        <h1>iSPY 2021</h1>
        <h4>{{ state.level.name }}</h4>
        <button class="nes-btn is-error btn-action-right" ng-click="leaveGame()">X</button>
    </div>

    <div id="g-round-main">
        <div id="g-round-image-container" class="nes-container with-title is-rounded">
            <p class="title">iSpy Image</p>
            <div class="g-flex g-flex-col">
                <div id="example1" data-ng-magnify data-image-src="{{ state.level.image }}" ng-click="click($event)"></div>

                <!-- <img id="g-round-image" class="g-img-fluid"  ng-src="{{ state.level.image }}" ng-attr-alt="{{ state.level.name }} Image" ng-click="click($event)" /> -->

                <button class="nes-btn is-error btn-action-right" ng-click="start()" ng-if="!state.game.started && state.player.host">Start</button>
            </div>
        </div>

        <aside id="g-round-sidebar">
            <div id="g-round-riddle" class="nes-container with-title is-rounded">
                <div ng-if="state.game.started">
                    <p class="title">Riddle</p>
                    <div>{{ state.clue }}</div>
                    <div>{{ state.game.timeRemaining }} sec remaining</div>
                </div>
                <div ng-if="!state.game.started">
                    <p class="title">Waiting for players</p>
                </div>
            </div>
            <div id="g-round-players" class="nes-container with-title is-rounded">
                <p class="title">Players ({{ state.game.players.length}})</p>
                <ul class="g-round-players-list">
                    <li ng-repeat="player in state.game.players">
                        {{ player.name }} (<i class="fas fa-heart"></i> {{ player.lives }} / <i class="fas fa-star"></i> {{ player.score }})
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>


