<div id="g-view-round" class="g-view-content text-center">
    <div class="g-view-title">
        <h1>iSPY 2021</h1>
        <h4>{{ state.level.name }}</h4>
        <button class="nes-btn is-error btn-action-right" ng-click="leaveGame()">X</button>
    </div>

    <div class="g-flex g-round-container">
        <div class="g-round-image-container nes-container">
            <img id="g-round-image" class="g-img-fluid"  ng-src="{{ state.level.image }}" ng-attr-alt="{{ state.level.name }} Image" ng-click="click($event)" />
            <p>{{ state.level.riddle || 'No riddle set! :O' }}</p>
        </div>

        <div id="g-aside">
            <p class="title">Players</p>
            <aside class="nes-container with-title is-centered">
                <div class="lists">
                    <ul class="nes-list is-circle">
                        <li ng-repeat="player in state.game.players">
                            {{ player.name }}
                            {{ player.score }}
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>