<div id="g-scoreboard" class="g-view-content text-center">
  <div class="g-view-title text-center">
      <h1>iSPY 2021</h1>
      <h4>Scoreboard</h4>
      <a href="#!/" class="nes-btn btn-action-left">&lt;</a>
  </div>

  <!-- <p ng-if="!state.gamesList.length">Loading scoreboard...</p> -->

  <div class="g-form-container nes-container with-title is-rounded ">
      <div class="nes-table-responsive">
        <h3>Top five players</h3>

        <table>
          <tbody>
            <tr class="nes-text is-error">
              <td><i class="nes-icon is-medium trophy"></i></td>
              <td>1st</td>
              <td class="name">Ostin Powerrrs</td>
              <td class="text-right">28300 PTS</td>
            </tr>
            <tr class="nes-text is-warning">
              <td><i class="nes-icon is-medium star"></i></td>
              <td>2nd</td>
              <td class="name">RealRobyn</td>
              <td class="text-right">21030 PTS</td>
            </tr>
            <tr class="nes-text is-success">
              <td><i class="nes-icon is-medium star is-half"></i></td>
              <td>3rd</td>
              <td class="name">Cant Afford Housing</td>
              <td class="text-right">19920 PTS</td>
            </tr>
            <tr class="nes-text is-primary">
              <td><i class="nes-icon is-medium star is-transparent"></i></td>
              <td>4th</td>
              <td class="name">C. Santiago</td>
              <td class="text-right">19400 PTS</td>
            </tr>
            <tr class="nes-text is-disabled">
              <td><i class="nes-icon is-medium star is-empty"></i></td>
              <td>5th</td>
              <td class="name">Barack Obama</td>
              <td class="text-right">18200 PTS</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>