<div id="g-view-select-level" class="g-view-container">
    <div class="g-view-content text-center nes-container with-title">
        <h1 class="title">Select Level</h1>
        <p ng-if="!levels.length">Loading levels...</p>
        <div class="card-deck mt-3" ng-if="levels.length">
            <div class="g-card card" ng-repeat="level in levels">
              <img class="card-img-top" ng-src="{{ level.attributes.image }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ level.attributes.name }}</h5>
                <button class="nes-btn is-primary" ng-click="selectLevel(level)">Select Level</button>
              </div>
            </div>
        </div>
        <a href="#!/" class="btn btn-link">
            <i data-feather="circle"></i> Go Back
        </a>
    </div>
</div>