<div id="g-view-select-level" class="g-view-container">
    <div class="g-view-content text-center">
        <h1>Select Level</h1>
        <div class="card-columns mt-3">
            <div class="card" ng-repeat="level in levels">
              <img class="card-img-top" src="https://picsum.photos/300/200" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ level.attributes.name }}</h5>
                <button class="btn btn-sm btn-primary" ng-click="selectLevel(level)">Select Level</button>
              </div>
            </div>
        </div>
        <a href="#!/" class="btn btn-link">
            <i data-feather="circle"></i> Go Back
        </a>
    </div>
</div>