<div id="g-view-welcome" class="g-view-container">
    <div class="g-view-content text-center">
        <h1 class="font-weight-bold">iSPY 2021</h1>
        <h3 class="mb-5">COVID-Free Edition</h3>
        <ul class="g-menu-buttons nav flex-column">
            <li class="nav-item">
                <button class="g-menu-button btn btn-primary">Create Game</button>
            </li>
            <li class="nav-item">
                <button class="g-menu-button btn btn-secondary">Join Game</button>
            </li>
            <li class="nav-item">
                <button class="g-menu-button btn btn-light">Scoreboard</button>
            </li>
            <li class="nav-item">
                <button class="g-menu-button btn btn-light">Quit</button>
            </li>
        </ul>
    </div>
</div>