<div id="g-view-welcome" class="g-view-container">
    <div class="g-view-content text-center">
        <h1>iSPY 2021</h1>
        <h3 class="mb-5">COVID-Free Edition</h3>
        <ul class="g-menu-buttons nav flex-column">
            <li class="nav-item">
                <a href="#!/create-game" class="g-menu-button btn btn-primary">Create Game</a>
            </li>
            <li class="nav-item">
                <a href="#!/" class="g-menu-button btn btn-secondary">Join Game</a>
            </li>
            <li class="nav-item">
                <a href="#!/" class="g-menu-button btn btn-light">Scoreboard</a>
            </li>
            <li class="nav-item">
                <a href="#!/" class="g-menu-button btn btn-light">Quit</a>
            </li>
        </ul>
    </div>
</div>